@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
body {
  background: #2B1C3D;
	color: white;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(43, 0, 60);
  position:fixed;
  width:100%;
  border-radius:10px;
}

.brand {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin:15px;
  transition:0.5s;
}

.nav-links li:hover {
  transform:scale(1.1);
  }

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  transition: 1s;
}

.nav-links a:hover {
transform:scale(1.1);
}

input {
  width: 200px;
  box-shadow: 0 0 20px black;
  
}